.Note {
  // border: 1px solid #000;
  width: 25px;
  height: 25px;
  // background-color: hsl(0deg, 20%, 70%);
  place-self: center;
  z-index: 1;
  transition: background-color 50ms;
  &:hover {
    cursor: pointer;
    background-color: hsl(0deg, 100%, 20%);
  }
}
